
<div>
  <div data-ng-init="slide='one'; wave='one'" class="{{myclass}}">

    <div data-ng-switch="wave" data-ng-animate="'wave'" >
          <div data-ng-switch-when="one">
            <h1>Why AngularJS?</h1>

            <!-- <img src="../img/bg1.jpg"> -->
          </div>
          <div data-ng-switch-when="two">
            <h1>Alternatives</h1>

            <!-- <img src="../img/bg2.jpg"> -->
          </div>
          <div data-ng-switch-when="three">
            <h1>Extensibility</h1>

            <!-- <img src="../img/bg1.jpg"> -->
          </div>
        </div>
  </div>
</div>