<div>
  <div data-ng-init="slide='one'; wave='one'" class="{{myclass}}">

    <div data-ng-switch="wave" data-ng-animate="'wave'" class="slide-frame">
          <div data-ng-switch-when="one">
            <h1>冲哥</h1>

            <p>
              HTML is great for declaring static documents, but it falters when we try to use it for declaring dynamic views in web-applications. AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop.
            </p>
          </div>
          <div data-ng-switch-when="two">
            <h1>尼哥</h1>

            <p>
              Other frameworks deal with HTML’s shortcomings by either abstracting away HTML, CSS, and/or JavaScript or by providing an imperative way for manipulating the DOM. Neither of these address the root problem that HTML was not designed for dynamic views.
            </p>
          </div>
          <div data-ng-switch-when="three">
            <h1>Z飞</h1>

            <p>
              AngularJS is a toolset for building the framework most suited to your application development. It is fully extensible and works well with other libraries. Every feature can be modified or replaced to suit your unique development workflow and feature needs. Read on to find out how
            </p>
          </div>
        </div>
  </div>
</div>